<!DOCTYPE html>
<html lang="en">
<head>
    <title> AJ Exclusive Autombile Sales </title>
    <meta charset="UTF-8">
    <meta name="keywords" content=" car sales, luxury car, sport cars, more keywords ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="AJ Exclusive Automobile Services located in Dublin City, Ireland">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "stylesheets/style.css" type = "text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class = "container-float">
        <header class="container-fluid sticky-top px-0">
            <div class="topnav" id="myTopnav">
                <a href="./"><i class="fa fa-fw fa-home"></i> Home</a>

                <div class="dropdown">
                    <button class="active">About <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a class="active" href="#">Company</a>
                        <a href="./contact">Contact</a>
                        <a href="./team">Team</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Autombile Catalogs <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a class="active" href="./cars">Cars Catalog</a>
                        <a href="./suvs">SUVs Catalog</a>
                        <a href="./buses">Buses Catalog</a>
                      
                    </div>
                </div>

                <div class="personal-account">
                    <div class="d-flex" role="search">
                        <a href="/welcome"><img src="./images/profile2.jpg" alt="Welcome Page"class="welcome-link" /></a><br>

                        <input id="search" class="form-control me-2" type="search" placeholder="search" aria-label="Search">
                        <button onclick="search()" class=" w-25 btn btn-primary btn-sm">Submit</button>
                    </div>
                    <a href="./register"><i class="fa fa-fw fa-user"></i> Register</a>
                    <a href="./login"><i class="fa fa-fw fa-user"></i> Login</a>
                    <a href="./cart"><i class="fa fa-fw fa-user"></i> Checkout</a>
                    <a href="./logout"><i class="fa fa-fw fa-user"></i> Logout</a>
                </div>

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>

        <hr>
        <div class="inner-container">
            <p><h1>Our Company</h1></p>

            <div class="profile-description">
                <p><h2> AJ Exclusive Automobile</h2></p>
                <p>At AJ Automobile, we pride ourselves in providing you with dedicated expert service that is supported by a <b>fleet of top quality vehicles for your every need</b>.</p>

                <p>This company is run by <b>Capable</b>, <b>Tested</b> and <b>Trusted</b> hands. The team is operationally involved in the <em>day-to-day businesses</em> 
                    of all the <b>AJ Holdings Groups</b>. 
                <b>Joel Omobude</b> is the <em>Chief Executive Officer</em> at AJ Automobile and <b>Mr Karami Olosho</b> is the <em>Dealer Executive</em> of AJ Automobile and <b>Mr Corneliu</b>
                    is the <em>Head of Operations and Sensitization</em>.</p>

                <p>AJ Autombile is now Ireland's first <em><b>100%</b></em> blackowned dealership in the country. <strong>This landmark transformation deal aims to be an exemplary model of transformation 
                    for the entire motor industry in Ireland</strong>.</p>
                    
                <img src="images/carousel-3.jpg">
            </div>

            <div class="company-vision-box">
                <div class="company-vision-info">
                    <p><h2>OUR VISION: CUSTOMERS FOR LIFE</h2></P>
                    
                    <p>AJ Automobile strives to create Customers for Life. To be the market leader in the sales and servicing of our customers’
                                    transportation products and related services.</p>
                                    
                    <p>We will earn our customers’ enthusiasm through continuous improvement driven by integrity, teamwork and innovation of management and staff to achieve honours in every department in our services.</p>
                </div>
            </div>    

            <div class="customer-focus">
                <p><h2>WE ARE CUSTOMER FOCUSED</h2></p>
            
                <p>AJ Automobile is owned and run by the AJ family who have been trading from the same location on the 
                    for <strong>over thirty years</strong>.</p>

                <p>We work on a simple model. Keep our costs low, keep vehicle turnover high, and pass our savings 
                    directly onto our customers.</p>

                <p>All our cars are priced to sell. We never inflate prices. We aim to be the most competitively 
                priced on the market when comparing like vehicles as in <b>miles, condition, spec etc</b>.</p>

            </div> 
        </div>


        <hr>
        <div class="footer-page">
            <div class="footer-content">
                <footer>
                    <p></p>&copy; 2024<br>
                        Contact Hours <br>
                        Weekdays: 8.00a.m – 10.00p.m <br>
                        Weekends: 8.00a.m – 10.00p.m <br>
    
                        Help Desk Number: <br>
                        01 837 889 090 
                        or drop us a message <a href="./contact">here</a>
                    </p>
                </footer>
            </div>
        </div>
    </div>    
    <script type="text/javascript" src="javascripts/script.js"></script>      
</body>
</html>

